.achievement_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-family: Ubuntu;
}

.achievement_card h2 {
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
}

.achievement_card h3 {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0;
}