.app__home-properties {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-inline: 15%;
    position: relative;
    background: #f0effd;
}

.app__home-properties_boxcard {
    margin-top: 60px;
    margin-bottom: 12px;
    max-width: 90%;
    display: flex;
    overflow: scroll;
    scroll-snap-type: x mandatory;
}

.app__home-properties_boxcard::-webkit-scrollbar {
    display: none;
}

.app__home-properties_boxcard-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-snap-align: center;
    padding-inline: 4rem;
}

.app__home-properties_boxcard-card img {
    width: 185px;
    height: 185px;
    border-radius: 50%;
    object-fit: cover;
}

.app__home-properties_boxcard-card h3 {
    font-weight: 700;
}

.app__home-properties_boxcard-card h4 {
    font-weight: normal;
}

.app__home-properties_arrows {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 75%;
    top: 50%;
}

.app__home-properties_arrows svg {
    font-size: 2rem;
    padding: 0.5rem;
    color: white;
    background: rgba(0, 0, 0, 0.684);
    border-radius: 50%;
    cursor: pointer;
}


@media (max-width: 1200px) {
    .app__home-properties_boxcard-card {
        scroll-snap-align: start;
    }
}

@media (max-width: 950px) {
    .app__home-properties_boxcard {
        max-width: 95%;
    }
    .app__home-properties_boxcard-card {
        scroll-snap-align: end;
        padding-inline: 2rem;
    }
}

@media (max-width: 750px) {
    .app__home-properties_boxcard {
        max-width: 95%;
    }
    .app__home-properties_boxcard-card {
        scroll-snap-align: center;
        padding-inline: 2rem;
    }
}

@media (max-width: 450px) {
    .app__home-properties_arrows {
        top: 70%;
    }
}