.app__home-wcu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 4rem 0;
}

.app__home-wcu_right, .app__home-wcu_left {
    display: flex;
    flex-direction: column;
    padding: 30px;
    height: 530px;
    width: 500px;
    margin-inline: 2px;
    background: #f5f4ff;
    border-radius: 20px;
}

.app__home-wcu_left {
    background-image: url('https://assets.nicepagecdn.com/11a8ddce/4460241/images/wooden-keychain-white.jpg');
    background-position: center;
    background-size: cover;
}

.app__home-wcu_right h2 {
    word-wrap: break-word;
    font-size: 3rem;
    font-weight: 700px;
    margin-bottom: 5px;
}

.app__home-wcu_right h5 {
    word-wrap: break-word;
    font-size: 1.3rem;
    font-weight: 400;
    margin: 0 auto;
}

.app__home-wcu_right ul {
    margin-top: 0;
    padding: 16px;
}

.app__home-wcu_right li {
    font-size: 1.2rem;
    font-family: Ubuntu;
    font-weight: 700;
    margin-top: 20px;
}


@media (max-width: 450px) {
    .app__home-wcu_left, .app__home-wcu_right {
        height: 350px;
    }

    .app__home-wcu_right h2 {
        font-size: 1.8rem;
    }
}