.app__gallery-selection {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 2rem 13%;
}

.app__gallery-selection_card {
    flex: 33%;
    max-width: 330px;
    min-width: 280px;
    height: 300px;
    overflow: hidden;
    background: red;
}

.app__gallery-selection_card img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: 0.3s ease-in;
    object-fit: cover;
}

.app__gallery-selection_card img:hover {
    transform: scale(1.1);
}

@media (min-width: 2000px) {
    .app__gallery-selection_card {
        max-width: 500px;
        height: 450px;
    }
}

@media (max-width: 450px) {
    .app__gallery-selection {
        padding: 2rem 2%;
    }
}